
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
            <title>{% block title %}{% endblock %}</title>
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
            <!-- Ensures optimal rendering on mobile devices. -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
            <!-- Optimal Internet Explorer compatibility -->
            <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
            <meta name="description" content="Sargasso Reclamation is a Kenya based Company dedicated to sustainable solutions to cleanup the oceans of plastic.Our aim to remove atleast 80% of plastic from our ocean and transform to useful products.">
            <meta property="og:locale" content="en_US">
            <meta property="og:type" content="website">
            <meta property="og:title" content="Sargasso Reclamation">
            <meta property="og:description" content="Sargasso Reclamation is a Kenya based Company dedicated to sustainable solutions to cleanup the oceans of plastic.Our aim to remove atleast 80% of plastic from our ocean and transform to useful products.">
            <meta property="og:url" content="https://www.sargasso-reclamation.com/">
            <meta property="og:site_name" content="Sargasso Reclamation">
            <meta property="article:publisher" content="https://web.facebook.com/Sargasso.Reclamation">
            <!-- Favicon -->
            <link rel="canonical" href="https://www.sargasso-reclamation.com/">
            <link rel="icon" href="{% static 'img/favicon.webp'%}" type="image/x-icon" alt="sargasso-reclamation">
            <link rel="shortcut icon" href="{% static 'img/favicon.webp'%}" type="image/x-icon" alt="sargasso-reclamation"/>
            <link rel="preconnect" as="font" href="https://fonts.googleapis.com" crossorigin>
            <link rel="preconnect" as="font" href="https://fonts.gstatic.com" crossorigin>
            <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
             <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;800;900&display=swap');
            </style>
            <script src="https://kit.fontawesome.com/046ef5155f.js" crossorigin="anonymous" defer ></script>
            <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' defer ></script>
            <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js' defer ></script>
            <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P8QNQP1TXF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P8QNQP1TXF');
</script>

  </head>
    
<body>
    <div class="container-fluid footer-a">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-2">
                    <span class="fa fa-phone-alt me-2 text-warning"></span>
                    <span>+254112011918</span>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <span class="fa fa-envelope me-2 text-info"></span>
                    <span>info@sargasso.io</span>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <span>
                         <a class="btn btn-link text-primary" href="https://twitter.com/SargassoNets" aria-label="sargasso reclamation twitter page"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-link text-info" href="https://www.facebook.com/Sargasso.Reclamation" aria-label="sargasso reclamation facebook page"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-link text-primary" href="https://www.linkedin.com/company/sargasso-reclamation/" aria-label="sargasso reclamation youtube channel"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-link text-info" href="https://www.linkedin.com/company/sargasso-reclamation" aria-label="sargasso reclamation linkedin page"><i class="fab fa-linkedin-in"></i></a>

                </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

   <!-- Navbar Start -->
   <nav class="navbar navbar-expand-lg navbar sticky-top p-0 bg-white">
<a href="{% url 'home:index'%}" class="navbar-brand d-flex align-items-center mx-4" aria-label="sargasso homepage">
        <img class="img-fluid" src="{% static 'img/Sargasso.webp'%}" alt="Sargasso Reclamtion" height="60" width="240">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-label="collapse menu">
        <span class="navbar-toggler-icon text-info"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0 " id="the_menu">
            <a href="{% url 'home:index'%}"  class="nav-item nav-link fw-bold beBZxq" aria-label="home">Home</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-item nav-link fw-bold beBZxq" data-bs-toggle="dropdown" aria-label="about-us link">About Us</a>
                <div class="dropdown-menu">
                    <a href="{% url 'home:profile'%}" class="dropdown-item " >Our Story</a>
                    <a href="{% url 'home:impact'%}" class="dropdown-item">Our Impact</a>
                    <a href="{% url 'home:impact'%}" class="dropdown-item">Careers</a>
                    
                </div>
            </div>
             <div class="nav-item dropdown">
                <a href="#" class="nav-item nav-link fw-bold beBZxq" data-bs-toggle="dropdown" aria-label="who are we link">Who We Are</a>
                <div class="dropdown-menu ">
                    <a href="{% url 'home:team'%}" class="dropdown-item">Meet Our Team</a>
                    <a href="#" class="dropdown-item" >Our Partners</a>
                    
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-item nav-link fw-bold beBZxq" data-bs-toggle="dropdown" aria-label="what we do link">What We Do</a>
                <div class="dropdown-menu ">
                    <a href="{% url 'home:recycle'%}" class="dropdown-item">We Recycle </a>
                    <a href="{% url 'home:print'%}" class="dropdown-item">3D Printing</a>
                    
                </div>
            </div>
            <a href="{% url 'shop:products'%}" class="nav-item nav-link fw-bold beBZxq" aria-label="Product">Our Products</a>
            <a href="{% url 'home:donate'%}" class="nav-item nav-link fw-bold beBZxq " aria-label="Support">Support Us</a>
     
        </div>

    </div>
</nav>
<!-- Navbar End -->

    {% block content %}

    {% endblock %}

    <!-- Footer Start -->
    <div class="container-fluid footer footer-a" >
  
            
        <div class="container py-4">
            <div class="row ">
                <div class="col-lg-5 col-md-5">
                    <h4 class="footer-heading  text-left beBZxq mb-2 text-white">SARGASSO RECLAMATION</h4>
                    <p class="fw-300" ><i class="fa fa-map-marker-alt me-3"></i>Plastiki House,Casuarina,<br> P.O BOX 5319-80200<br> Malindi,Kenya</p>
                    <p class="fw-300 " ><i class="fa fa-phone-alt me-3 "></i>+254112011918</p>
                    <p class="fw-300 " ><i class="fa fa-envelope me-3"></i>info@sargasso.io</p>
                    <div class="d-flex pt-1">
                        <a class="btn btn-square text-primary btn-outline-white rounded-circle me-2" href="https://twitter.com/SargassoNets" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square text-success btn-outline-white rounded-circle me-2" href="https://www.facebook.com/Sargasso.Reclamation" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square text-danger btn-outline-white rounded-circle me-2" href="https://www.linkedin.com/company/sargasso-reclamation/" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square text-info btn-outline-white rounded-circle me-2" href="https://www.linkedin.com/company/sargasso-reclamation" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    
                </div>
                <div class="col d-none d-sm-block ">
                    <h5 class="fw-300  text-left beBZxq mb-4 text-white">ABOUT US</h5>
                    <ul class="list-unstyled mt-6 pt-6">
                    
                      <li><a href="#" class="text-white" ><i class="fa fa-chevron-right me-3" ></i> Careers</a></li>
                      <li><a href="{% url 'home:recycle'%}"  class="text-white"><i class="fa fa-chevron-right me-3"></i>  Recyling</a></li>
                      <li><a href="#" class="text-white" ><i class="fa fa-chevron-right me-3" ></i> Media gallery</a></li>
                      <li><a href="#" class="text-white"><i class="fa fa-chevron-right me-3 fa-1x" ></i> Partners</a></li>
                      <li></li>
                    </ul>
                  </div>
                <div class="col d-none d-sm-block ">
                    <h5 class="fw-300  text-left beBZxq mb-4 text-white">HELP</h5>
                    <ul class="list-unstyled mt-6 pt-6">
                    <li><a href="#" class="text-white" ><i class="fa fa-chevron-right"></i> Support Us</a></li>
                    <li><a href="{% url 'shop:products'%}" class="text-white"  ><i class="fa fa-chevron-right"></i> Merchandise</a></li>
                    <li><a href="#" class="text-white"  ><i class="fa fa-chevron-right" ></i> FAQ</a></li>
                    </ul>
                  </div>

                
            <div class="col d-none d-sm-block ">
                    <h5 class="fw-300  text-left beBZxq mb-4 text-white">LEGAL</h5>

            <ul class="mt-6 pt-6 list-unstyled">
                <li><a href="#" class="text-white" ><i class="fa fa-chevron-right"></i> Privacy and Cookies</a></li>
            </ul>
                </div>
            </div>
        </div>
   
<!-- Footer End -->

<span class="footer-line"></span>
<!-- Copyright Start -->
    
            <div class="row">
                <div class="col-md-12 text-center text-md-center p-3 mb-md-0">
                   <span class="text-white fs-6">Sargasso Reclamation  &copy; 2022 All Right Reserved.<br>Powered by <a class="text-warning" href="#">Sargasso IT Team</a></span>
                </div>
            </div>
    </div>
<!-- Copyright End -->

<!--Start of Tawk.to Script-->
<script type="text/javascript" defer >
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/64a67de1cc26a871b026ae94/1h4l5nehl';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!-- MDB -->
<script type="text/javascript" src="{% static 'md.js' %}" defer 
></script>
<script src="{% static 'bootstrap.bundle.min.js' %}" defer ></script>
 
</body>

</html>