{% extends 'base.html' %} 
{% block title %}Sargasso Reclamation | Best Ocean Plastics Recyclers In Kenya and Africa{% endblock %}

{% load static %}
{% block content%}

    <!-- Carousel Start -->
   <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
               
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/carousel-4.webp'%}" class="d-block w-100" loading = "lazy"  alt="sargasso-reclamation-ocean-Plastic">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                  <div class="col-lg-12">
                                    <h1 class=" mt-0 mb-0 animated slideInDown"> <span style="color: #fefefe; text-align: center; line-height: 57px; letter-spacing: 0px; font-weight: 700; font-size: 54px; border-color: rgb(0, 92, 184); border-style: none; margin: 0px; border-radius: 0px; padding: 0px;" data-stylerecorder="true"> TURNING THE SCARS OF TODAY INTO PRODUCTS OF TOMORROW.</span>
                            </h1>
                                   
                                </div>
                            </div>
                        </div>
              </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/carousel-1.webp'%}" loading = "lazy" class="d-block w-100" alt="sargasso-Reclamation-ocean-CleanUp">
                      <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                    <h1 class=" mt-0 mb-0 animated slideInDown"> <span style="color: #fefefe; text-align: center; line-height: 57px; letter-spacing: 0px; font-weight: 700; font-size: 54px; border-color: rgb(0, 92, 184); border-style: none; margin: 0px; border-radius: 0px; padding: 0px;" data-stylerecorder="true">No.1 OCEAN CLEANUP COMPANY ALONG THE COAST OF AFRICA.</span>
                            </h1>
                                       
                            
                                </div>
                            </div>
                        </div>
              </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    <!-- Carousel End -->
                
                <div class="container mb-4">
                    
          <h1  class="mb-2 mt-4 fw-300  text-center display-3 hciTjI">Trading Recyclables To Make Real Difference In The Environment and Society</h1>
                <hr class="bg-dark mb-4 mt-0 mx-auto" style="width: 100px; height:3px;align:center;color:black;">
                    <div class="row g-2 align-items-center">
                        <p class="mb-4">With backgrounds  in environmental NGOs and the Kenya business community, our team came together 
                    with the idea of creating the ocean plastic products we now supply. We quickly discovered the plastics we needed were not
                     widely available and pivoted to collecting and supplying the raw material for the sector. This background feeds our passion 
                     for startups and innovative products, and informs a passion
                     for pushing the bounds of the ocean plastic sector and bringing our product to the end user in new and innovative ways.</p>
                        <div class="embed-responsive embed-responsive-16by9 d-none d-md-block">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DgbXNbW46LY" title="sargasso-reclamation-brief"  loading="lazy" height="450px" width="100%" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

<!-- Features End -->


    <!-- About Start -->
    <div class="container-fluid mt-4 mb-4 pb-4">
          <h2 class="knoAwz text-center">Our Product Impact</h2>
                <hr class="bg-dark mb-4  mx-auto" style="width: 100px; height:1px;align:center;color:black;">
        <div class="container">
           
            <div class="row g-1">
               
                <div class="col-lg-9 col-lg-7 " >
                   <!-- <h1 class="display-1 text-primary mb-0">25</h1>-->
                   
                    <p class="mb-4 justify-content-center fw-semi-bolder">
                        Sargasso Reclamation is bringing quality product to underserved sector, one which is experiencing a surge in global demand 
                        without a clear suplly pipeline.we are allowing our sector to achieve its potential and staking out africa's claim in this exciting new industry.</p>
                     <ul >
                     <li>We are on track to salvage 7 tons a week in 2023. This is enough to protect ~30 sea animals from entanglement every year perpetually</li>
                     <li>Plastic breaks down into toxic micro-plastics in time.removing it it has deep, long term implications</li>
                     <li>Trade winds quickly drag east African coastal plastic into the deep ocean, causing far greater damage</li>
                     <li>By sourcing from fishermen,we will offer them a revenue stream that will allow them to avoid</li>
                     <li>Africa's economic potential is a great match for this industry,mutually benefitting Malindi and the world</li>
                     <li>Our base-of-the-pyramid value chain can have a profound developmental effect in Africa's economy</li>
                     <li>Opening a new geography to plastic retrieval strenghens the sector's and regenerative impact.</li>
                    </ul>
                   
                  
                </div>
                <div class="col-lg-3 d-none d-md-block" data-wow-delay="0.5s">
                    <div class="row g-1 pt-4 mt-4">
                        <div class="col-12">
                            <div class="border-start ps-2">
                                <i class="fa fa-tree  text-success mb-1"></i>
                                <p class="mb-1">Positive environmental impact</p>
                               
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="border-start ps-1">
                                <i class="fa fa-percent  text-secondary mb-1"></i>
                                <p class="mb-1">Reduced landfill </p>
                               
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="border-start ps-1">
                                <i class="fa fa-users  text-info mb-1"></i>
                                <p class="mb-1 ">Job Creations</p>
                               
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="border-start ps-1">
                                <i class="fa fa-industry  text-primary mb-1"></i>
                                <p class="mb-1 ">Economic and social transformation</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->



    <!-- Service Start -->
    <div class='container mb-4'>
            <div class="text-center mx-auto " data-wow-delay="0.1s" style="max-width: 500px;">
             <h2 class=" knoAwz ">What We Offer</h2>
            <hr class="bg-dark mb-4  mx-auto" style="width: 100px; height:1px;align:center;color:black;">
            </div>
            <div class="row g-4 mt-4 pt-4">
            
                <div class="col-lg-4 col-lg-4 " >
                    <div class="service-item rounded d-flex  card">
                       
                        <div class="service-text rounded py-4 px-2 text-center">
                            <i class="fa fa-balance-scale fa-3x svg"></i>
                            <h3 class="m-3 hciTjI" >Competitive</h3>
                            <p>
                             A lean operation, leveraging Africa's strength in labour costs and Kenya's emergent strength in logistical infrastructure.
                                                        </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-4 " >
                    <div class="service-item rounded d-flex  card">
                       
                        <div class="service-text rounded py-4 px-2 text-center">
                            <i class="fa fa-cogs svg fa-3x"></i>
                            <h4 class="m-3 hciTjI">Specialised</h4>
                            <p>
                                with the scale needed to supply specific grades of plastic for your industrial needs, or specific levels of environmental exposure for your storytelling
                            </p>
                            
                        </div>
                    </div>
                </div>
              
                 
                <div class="col-lg-4 col-lg-4 ">
                    <div class="service-item rounded d-flex card ">
                      
                        <div class="service-text rounded py-4 px-3 text-center">
                        <i class="fa fa-american-sign-language-interpreting   fa-3x svg"></i>
                            <h3 class="m-3 hciTjI ">Authentic</h3>
                            <p>Externally audited to confirm that our plastic is ethically harvested and sourced from East African coastal cloud.</p>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-lg-4 " data-wow-delay="0.1s">
                    <div class="service-item rounded d-flex card">
                       
                        <div class="service-text rounded py-4 px-2 text-center">
                         <i class="fa fa-globe svg fa-3x"></i>
                            <h3 class="m-3 hciTjI">Global </h3>
                            <p>Professionally packaged and shipped from Mombasa port, to feed your value chain on a one-time, monthly or annual basis.</p>
                            
                        </div>
                    </div>
            
            </div>
            
     </div>
 </div>
    <!-- Service End -->

     <div class="container-fluid bg-white mt-4 pt-4 mb-4 mb-4">
    <div class="container">
           <div class="text-center mx-auto">
            <h2 class=" knoAwz text-center">Testimonials</h2>
            
                <hr class="bg-dark mb-0 mx-auto" style="width: 100px; height:1px;align:center;color:black;">
                <h3 class="text-center  m-2 mb-4">What Our Client's Say About Sargasso</h3>
            </div>
            <!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">

  <!-- Inner -->
  <div class="carousel-inner mb-4 pb-4">
      
    <!-- Single item -->
    
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
            {% for testimonial in testimonial %}
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-2"
              src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" alt="sargasso-reclamation-team"
              style="width: 85px;"/>
            <h5 class="mb-3">{{ testimonial.name}}</h5>
            <p>{{ testimonial.title}}</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              {{ testimonial.testimony}}
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>
          </div>
          {%endfor %}
        </div>
      </div>
    </div>

  </div>
    <!-- Controls -->
  <div class="d-flex justify-content-end mb-4 pb-4">
    <button class="carousel-control-prev position-relative" type="button"
      data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next position-relative" type="button"
      data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->
      

</div>
</div>


      <!-- Quote Start -->
<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3 header-news">News & Stories </h3>
            </div>
            
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
            {% for latest in latest %}
                                <div class="col-lg-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="recycled-ocean-plastic" src="{% static 'img/market2.webp'%}">
                                        <div class="card-body">
                                            <span class="min-head">{{ latest.timestamp}}</span>
                                            <h4 class="small-card">{{ latest.title}}</h4>
                                            <p class="card-text">{{ latest.content | truncatewords:30}}</p>

                                        </div>

                                    </div>
                                </div>
                {% endfor %}

                            </div>
                        </div>
                    >
                    </div>
                </div>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev" aria-label="sargasso-reclamation-post">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next" aria-label="sargasso-reclamation-post">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

    <!-- Quote End -->

    {% endblock %}

    