{% extends 'base.html' %} 
{% block title %}About Us - We are a leading recycling company dedicated to environmental sustainability. With expertise in collecting, sorting, and processing recyclable materials, we aim to minimize waste and maximize resource recovery. 
Our state-of-the-art facilities and commitment to innovation enable us to create a greener future by promoting 
recycling practices and reducing environmental impact. {% endblock %}
{% load static %}
{% block content%}
<div class="container-fluid p-4 ">
    <h1  class=" mb-4 mt-4  fs-1 text-black fw-bold text-decoration-overline text-center"><span class="mb-4 fw-bold knoAwz">Current Jobs Openings</span></h1>
<div class="row g-2">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
             <div class="card p-3 mb-2 card-a">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="ms-2 c-details">
                            <h4 class="head-j">Finance Program Officer</h4> 
                            <p>Nairobi, Kenya</p> 
                        </div>
                    </div>
                    <div class="span-j"> <span class="">PET</span> </div>
                </div>
                <div class="mt-2">
                   <p class="card-p "> <span><i class="fa fa-clock-o text-success fa-2x mx-2" aria-hidden="true"></i></span> 27 days remaining</p>
                </div>
            </div>
            <div class="card p-3 mb-2 card-na ">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="ms-2 c-details">
                            <h4 class="head-j">Finance Program Officer</h4> 
                            <p>Nairobi, Kenya</p> 
                        </div>
                    </div>
                    <div class="span-j"> <span class="">PET</span> </div>
                </div>
                <div class="mt-2">
                   <p class="card-p "> <span><i class="fa fa-clock-o text-success fa-2x mx-2" aria-hidden="true"></i></span> 27 days remaining</p>
                </div>
            </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="card">
      <div class="card-body">
       <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active tab-p" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Job Description</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link  tab-p" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Apply</button>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="float-end mb-4 ">
          <p class="card-p "> <span><i class="fa fa-clock-o text-success fa-2x mx-2" aria-hidden="true"></i></span> 27 days remaining</p><br>
          <p class="card-p "> Published: Aug 16, 202</p>
      </div>
      <div class="mt-4 mt-4">
      <h5 class="job-t fs-sm">Job Requirements</h5>
      <h6 class="job-h">Education : <span class="job-t fs-sm">Bachelor Degree</span></h6>
      <h6 class="job-h">Work Experience : <span class="job-t fs-sm">atleast 2 years</span></h6>
      <h6 class="job-h">Skills : <span class="job-t fs-sm">Customer Ervice</span></h6>
      </div>
      <div class="mt-4">
      <h5 class="job-t fs-sm">Job Type</h5>
      <h6 class="job-h">Contract Type</h6>
      </div>
      <div class="mt-4">
      <h5 class="job-t fs-sm">Duties & Responsibilty</h5>
      <ul class="p" style="list-style-type:circle;">
          <li>Provide strategic advice across a variety of financial products and services (debt management, cash management, insurance coverage, investments)</li>
          <li>Assess client’s overall financial picture, understand their needs and develop a solid financial plan</li>
          <li>Guide clients towards a profitable and secure financial decision</li>
          <li>Cultivate client base and build win-win relationships</li>
          <li>Network, generate leads and grab opportunities to sell mutual funds, stocks, bonds etc to meet sales quotas</li>
          <li>Keep abreast of new industry’s trends and research market to back up financial consulting</li>
           <li>Oversee the course of the financial plan and update it, if necessary, to ensure profits</li>
            <li>Comply with all industry rules and regulations
Liaise with providers, solicitors, valuers and other professionals</li>

</ul> 
      </div>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>

</div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock%}