{% extends 'base.html' %} 
{% block title %}
Plastic recycling encompasses different categories such as PET, PLA, and PETG. PET recycling involves transforming used plastic bottles into new products, reducing landfill waste. PLA recycling focuses on composting or converting biodegradable plastics derived from renewable resources. PETG recycling promotes the reuse of 
durable and transparent plastic for various applications, reducing overall plastic consumption and environmental impact.{% endblock %}
{% load static %}
{% block content%}

  <!-- Page Header Start -->
  <div class="container p-2 mt-4">
      <h3  class="mb-4 fw-bold knoAwz">We Do Recycling</h3>

  <h4  class="mb-4 fw-300  text-center display-3 hciTjI">Types of common plastic we collect</h4>
    </div>
  <div class="container mb-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <img src="{% static 'img/images-1.jpg'%}" alt="wrapkit" class="img rounded-circle" height="60px" width="60px" />  </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">Price Per Kg</h6> <span class="text-primary fw-bold">KSH 15</span>
                        </div>
                    </div>
                    <div class="badge"> <span>PET</span> </div>
                </div>
                <div class="mt-4">
                    <h3 class="heading text-center">Polyethylene Terephthalate(PET)</h3>
                    <div class="mt-2">
                        <div class="mt-4"> <span class="text2 text-center"> Collected from Water & Soda bottles</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <img src="{% static 'img/download.jpg'%}" alt="wrapkit" class="img rounded-circle" height="60px" width="60px" /> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">Price Per Kg</h6> <span class="text-primary fw-bold">KSH 15</span>
                        </div>
                    </div>
                    <div class="badge badge-success"> <span>HDPE</span> </div>
                </div>
                <div class="mt-4">
                    <h3 class="heading  text-center">High Density Polyethylene (HDPE)</h3>
                    <div class="mt-2">
                        <div class="mt-4"> <span class="text2"> food and beverage containers, cleaning product bottles, pipes, cutting boards, and some shoe parts</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon">  <img src="{% static 'img/images.jpg'%}" alt="wrapkit" class="img rounded-circle" height="60px" width="60px" />  </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">Price Per Kg</h6> <span class="text-primary fw-bold">KSH 15</span>
                        </div>
                    </div>
                    <div class="badge badge-success"> <span>PP</span> </div>
                </div>
                <div class="mt-4">
                    <h3 class="heading text-center">Polypropylene (PP)</h3>
                    <div class="mt-2">
                        <div class="mt-4"> <span class="text2"> Pallets, bottles, jars, yogurt containers, hot beverage cups, and food packaging</span> </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<section class="our-blog p-0 m-0 bg-silver">
    <div class="container work-process  pb-5 pt-5">
        <div class="title mb-5 text-center">
        <h3><span class="site-color knoAwz"> Our Recycling Process</span></h3>
    </div>
        <!-- ============ step 1 =========== -->
        <div class="row">
            <div class="col-md-5">
                <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">01</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5 class="hciTjI text-center">SOURCING</h5>
                            <p><small>Malindi, Kenya is near a coastal garbage gyration that is one of the largest off the African coast. It has a long-standing infrastructure as a fishing port.  This makes it the perfect location for collecting marine refuse that can be recycled.
                 In 2020, we identified the opportunity of collecting for fishermen, and as the economy rebounds expanding to sourcing plastic caught every day in their fishing nets off Malindi.  We purchase today from out of work fisherman, 
                 which both keeps plastic out of the ocean, and helps to grow the local economy.  </small></p>
                        </div>
                    </div>
                    <div class="process-line-l"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="process-point-right"></div>
            </div>
        </div>
        <!-- ============ step 2 =========== -->
        <div class="row">
            
            <div class="col-md-5">
                <div class="process-point-left"></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">02</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5 class="hciTjI text-center">Production</h5>
                            <p><small>  Sargasso produces reclaimed ocean plastic flakes by washing, shredding and bailing the bottles we purchase from local fishermen.
                  In 2020, we identified the opportunity of collecting for fishermen, and as the economy rebounds expanding to sourcing plastic caught every day in their fishing nets off Malindi.  We purchase today from out of work fisherman, 
                  which both keeps plastic out of the ocean, and helps to grow the local economy.  </small></p>
                        </div>
                    </div>
                    <div class="process-line-r"></div>
                </div>
            </div>

        </div>
        <!-- ============ step 3 =========== -->
        <div class="row">
            <div class="col-md-5">
                <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">03</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5 class="hciTjI text-center">going to the market</h5>
                            <p><small>Because of the international trade infrastructure that is being developed in Kenya, and a fast growing local market it standard plastic recycling, we are able to offer both ocean-bound plastic in a recycled form, and plastic credits linked to ocean-bound plastic sold on recycling markets.<br> Please reach out if you are looking for a cost effective partner in either regenerative strategy.
                We worth within relatively impoverished fishing communities, buying plastic from the beach sourced from the friends and family of fishermen, and hoping to source plastic from the deeper ocean in the future by leveraging our network with fishing captains and boat owners. </small></p>
                        </div>
                    </div>
                    <div class="process-line-l"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="process-point-right"></div>
            </div>
        </div>
    </div>
</section>
	<script>
  AOS.init();
</script>

  <div class="container p-2 mt-4">
      <h3  class="mb-4 fw-bold knoAwz text-center">supply us plastics</h3>

  <h4  class="mb-4 fw-300  text-left display-3 hciTjI">find our dropoff sites</h4>
    </div>

</div> 
 
{% endblock%}