body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #001219;

    
}

    .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(42, 157, 143, 0.1);
    z-index: 1;
    position: absolute;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    height:auto;
}
.w-100{
    height:650px;
}

.border-2{
    color:#caf0f8;
}
a{
    text-decoration:none;
}
.navbar-toggler {
    background-color:red;
}